<div class="cards">
  <mat-list style="width: 100%;">
    <mat-list-item>
      <button style="background-color: black; color: white; width: 100%;" button mat-button [routerLink]="'/calculadora'" mat-button>
        Calculadora
      </button>
    </mat-list-item>
    <mat-list-item>
      <button style="background-color: black; color: white; width: 100%;" button mat-button [routerLink]="'/lexico'" mat-button>
        Análise lexica
      </button>
    </mat-list-item>
    <mat-list-item>
      <button style="background-color: black; color: white; width: 100%;" button mat-button [routerLink]="'/sintatico'" mat-button>
        Análise sintática
      </button>
    </mat-list-item>
    <mat-list-item>
      <button style="background-color: black; color: white; width: 100%;" button mat-button [routerLink]="'/semantico'" mat-button>
        Análise semântica
      </button>
    </mat-list-item>
  </mat-list>
</div>
