<div class="cards">
  <mat-list style="width: 400px; display:flex; flex-direction: column; justify-content: center; align-items: center; gap: 10px; ">
    <mat-list-item>
      <button class="buttonLink" [routerLink]="'/lexico'">
        <div>
          Analisador léxico
        </div>
      </button>
    </mat-list-item>
    <mat-list-item>
      <button class="buttonLink" [routerLink]="'/sintatico'">
        <div>
          Analisador sintático
        </div>
      </button>
    </mat-list-item>
    <mat-list-item>
      <button class="buttonLink" [routerLink]="'/semantico'" >
        <div>
          Análise semântica
        </div>
      </button>
    </mat-list-item>
    <mat-list-item>
      <button class="buttonLink" [routerLink]="'/sobre'" >
        <div>
          Sobre
        </div>
      </button>
    </mat-list-item>
  </mat-list>
</div>
